DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
TIME_ZONE=UTC

POSTGRES_DB=econ
POSTGRES_USER=econ
POSTGRES_PASSWORD=econ
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60

REDIS_URL=redis://redis:6379/0
REDIS_PORT=6379
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

DRF_PAGE_SIZE=20
JWT_ACCESS_MINUTES=15
JWT_REFRESH_DAYS=7
